*{
    padding: 0;
    margin: 0;
}
/* index.html*/

body{
    background-color: rgb(219, 225, 223);
}
header{
    padding-left: 10px;
}
header h1{
padding-left: 90px;
font-size: 70px;
color: grey;
padding-top: 20px;
}
main{
    font-size: 18px;
    color: blue;
    padding-left: 50px;
}
main p{
    margin: 10px;
    
}
main img{
    padding-left: 180px;
    
}
.bck{
    display:inline-block;
    padding: 3px 3px
} 
.bck:hover{
    background-color: rgb(118, 118, 159);
    cursor: pointer;
}

footer p{
    text-align: center;
    background-color: #000;
    color: #fff;
    
}
a{
    color: #0000ff;
}
/*footer a{
    margin-bottom: 3px;
}*/
 a{
    border-radius: 1rem;
    text-decoration: none;
 }
 .foot{
    padding-top: 190px;
 }

 /* end of index.html
 
 beginning of about us*/

 .header{
padding-left: 85px;
font-size: 60px;
color: grey;
padding-top: 20px;
 }

 .story{
    padding-left: 400px;
    font-size: 30px;
    color: grey;
 }
 .para{
    padding-left: 200px;
 }
 #contact{
    padding-left: 900px;
 }
 .txt{
    display: inline-block;
    padding: 3px 4px;
} 
.txt:hover{
    background-color: rgb(118, 118, 159);
    cursor: pointer;
}

.footer{
    padding-top: 22px;
}
 /* end of about us
 contact us begins */

 .headr{
    padding-left: 30px;
    font-size: 50px;
    color: grey;
    padding-top: 10px;
     }
     
.btn:hover{
    background-color: rgb(118, 118, 159);
    cursor: pointer;
}
.btn{
    display: inline-block;
    padding: 4px 2px;
}
.foter{
    padding-top: 32px;
}
.click:hover{
cursor: pointer;
background-color: rgb(118, 118, 159);
}



