*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(199, 202, 203);
}

a{
    text-decoration: none;
    cursor: pointer;
    /*padding-left: 32rem;*/
    
}

header li{
    display: inline-block;
    color: blue;
    list-style-type: none;
    
}

header li :hover{
    color: wheat;
}

.logo{
   height: 2rem;
   width: 7rem;
   padding-left: 1rem;
}

header{
    display: flex;
    background-color: grey;
    align-items: center;
    justify-content: space-between;
}

header ul li{
    padding-right: 10px;
}

.foot{
    background-color: grey;
    text-align: center;
    padding-bottom: 1rem;
    color: blue;
    margin-top: 8rem;
}

/* index styling*/

.head{
    font-size: 6rem;
    text-align: center;
    color: grey;
    padding-top: 2rem;
}

div{
    padding-left: 11rem;
}

.bana{
    width: 60rem;
    height: 27rem;
}

.para{
    font-size: 18px;
    padding-top: 1rem;
    color: blue;
}



/*About styling*/

.head1{
    color: grey;
    font-size: 5rem;
    text-align: center;
}

.para{
    padding-left: 6rem;
}

.story{
    text-align: center;
    color: grey;
    padding-top: 1rem;
}

.parent{
    margin-top: 1rem;
    
}

.child1{
    padding-left: 2rem;
    width: 18rem;
    height: 18rem;
    display: flex;
    }

.child2{
    padding-left: 2rem;
    width: 20rem;
    height: 20rem;
    display: flex;
    padding-top: 2rem;
}

/* contact styling*/

.form{
    font-size: 18px;
   padding-left: 24rem;
   color: blue;
}

.head2{
    font-size: 6rem;
    color: grey;
    text-align: center;
}

/* media query @1200
index page */

@media only screen and (max-width: 1200px){
.head{font-size: 5rem;}
div{padding-left: 5rem;}
.bana{
    width: 55rem;
    height: 25rem;}

/* about page */

.head1{font-size: 4rem;}
.para{padding-left: 4rem;}
.pics{padding-left: 3rem;}
.child1{
    padding-left: 2rem;
    width: 16rem;
    height: 16rem;
    display: flex;
    }
.child2{
    padding-left: 2rem;
    width: 18rem;
    height: 18rem;
    display: flex;
    padding-top: 2rem;
}

  /* contact page */

  .form{padding-left: 21rem;}
  .head2{font-size: 5rem;}
}

       /* index page @992*/
 @media only screen and (max-width: 992px){
       .head{font-size: 4rem;}
       div{padding-left: 2rem;}
       .bana{
        width: 45rem;
        height: 25rem;}
        .para{padding-left: 3rem;}

        /* about page */

.head1{font-size: 4rem;}
.para{padding-left: 4rem;}
.pics{padding-left: 3rem;}
.child1{
    padding-left: 2rem;
    width: 14rem;
    height: 14rem;
    display: flex;
    }
.child2{
    padding-left: 2rem;
    width: 16rem;
    height: 16rem;
    display: flex;
    padding-top: 2rem;
}

  /* contact page */

  .form{padding-left: 13rem;}
  .head2{font-size: 5rem;}    
 }      

        /* index page @768*/
        @media only screen and (max-width: 768px){
            .head{font-size: 3rem;}
            div{padding-left: 2rem;}
            .bana{
             width: 38rem;
             height: 25rem;}
             .para{padding-left: 2rem;}
     
             /* about page */
     
     .head1{font-size: 3rem;}
     .para{padding-left: 3rem;}
     .pics{padding-left: 2rem;}
     .child1{
        padding-left: 2rem;
        width: 12rem;
        height: 12rem;
        display: flex;
        }
    .child2{
        padding-left: 2rem;
        width: 14rem;
        height: 14rem;
        display: flex;
        padding-top: 2rem;
    }
     
       /* contact page */
     
       .form{padding-left: 10rem;}
       .head2{font-size: 4rem;}    
      }      

      /* index page @600*/
      @media only screen and (max-width: 600px){
        .head{font-size: 4rem;}
        div{padding-left: 2rem;}
        .bana{
         width: 24rem;
         height: 25rem;}
         .para{padding-left: 1rem;}
 
         /* about page */
 
 .head1{font-size: 3rem;}
 .para{padding-left: 2rem;}
 .pics{padding-left: 1rem;}
 .child1{
    padding-left: 2rem;
    width: 10rem;
    height: 10rem;
    display: flex;
    }
.child2{
    padding-left: 2rem;
    width: 12rem;
    height: 12rem;
    display: flex;
    padding-top: 2rem;
}
 
   /* contact page */
 
   .head2{font-size: 4rem;}
   .form{padding-left: 2rem;}    
  }      

   /* index page @560*/
   @media only screen and (max-width: 560px){
    .head{font-size: 2rem;}
    div{padding-left: 2rem;}
    .bana{
     width: 22rem;
     height: 25rem;}
     .para{padding-left: 1rem;}

     /* about page */

.head1{font-size: 2rem;}
.para{padding-left: 1rem;}
.pics{padding-left: 1rem;}
.child1{
    padding-left: 1rem;
    width: 8rem;
    height: 8rem;
    display: flex;
    }
.child2{
    padding-left: 1rem;
    width: 10rem;
    height: 10rem;
    display: flex;
    padding-top: 2rem;
}

/* contact page */

.head2{font-size: 4rem;} 
.form{padding-left: 2rem;}   
}      